.card {
    background-color: #364d79;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    height: 400px;
}

.card .side {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    width: 20%;
}

.card h2{
    font-size: 48px;
    margin: 0; 
    padding-top: 10%; 
    line-height:normal; 
    color: #282c34;
}

.card h3{
    padding-top: 15%;
}

h3 {
    color: #282c34;
}

.image {
    width: 20%;
    height: 80%;
    border: 5px black;
    border-radius: 15%;
    padding: 2%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

@media screen and (max-width: 600px) {

    .image {
        width: 40%;
        height: 200px;
        border-radius: 20px;
        margin-top: 0;
        padding: 1%;
    }

    .card {
        background-color: #364d79;
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 650px;
    }

    .card .side {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
        text-align: start;
        width: 90%;
        height: auto;
    }

    .card h2{
        font-size: 32px;
        margin: 0; 
        padding-top: 5%; 
        line-height:normal; 
        color: #282c34;
    }

    .card h3{
        padding-top: 0;
    }
}
